.log {
  display: grid;
  justify-content: end; }

.menu_mobil {
  display: none; }

.search_mobile {
  display: none; }

descripcion {
  color: dimgrey;
  font-size: 30ox;
  font-family: 'Roboto Slab', serif; }

.nav {
  display: flex;
  justify-content: center; }

.form-inline {
  display: flex;
  position: relative; }

.menu:hover {
  color: lightsalmon; }

.search {
  color: lightpink; }

footer {
  background-color: #f6e3d8;
  font-family: 'Roboto Slab', serif;
  display: flex; }

.final {
  display: inline-flex; }
  .final li, .final img {
    display: flex;
    column-gap: 15px;
    flex-wrap: wrap; }

header {
  background-color: #eddadf; }

.titulo {
  text-align: center;
  color: lightslategray;
  background-color: lightgray; }

.titulo_principal {
  text-align: center; }

@keyframes mi_animation {
  0% {
    background-color: transparent;
    transform: rotate(0); }
  10% {
    background-color: transparent;
    transform: rotate(10deg); }
  70% {
    background-color: transparent;
    transform: rotate(355deg); } }

#logo {
  align-items: inherit;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: transparent;
  margin: auto;
  width: 200px;
  animation-name: mi_animation;
  animation-duration: 4s; }

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; }
  .table .table-item {
    border: thin gray solid;
    padding: 0 2em;
    border-radius: 25px; }
    .table .table-item img {
      width: 250px;
      object-fit: cover;
      vertical-align: middle;
      border-radius: 25px; }
    .table .table-item p {
      display: flex;
      justify-content: center; }

.marcas {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  column-fill: auto; }

.formul {
  display: flex; }

.icons {
  display: inline-flex;
  column-gap: 400px; }

.icon {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: .25s;
  padding: 25px; }

.icon:hover {
  outline-offset: 7px; }

.icon:hover i {
  animation: shake .25s; }

.icon--instagram:hover {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  outline-color: #a02d76; }

.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2; }

.icon--facebook:hover {
  background-color: #0077b5;
  outline-color: #0077b5; }

.icon--map:hover {
  background-color: #E42626;
  outline-color: #E42626; }

.icon--whatsapp:hover {
  background-color: #26D367;
  outline-color: #26D367; }

@keyframes shake {
  10% {
    transform: rotate(15deg); }
  20% {
    transform: rotate(-15deg); }
  30% {
    transform: rotate(15deg); }
  40% {
    transform: rotate(-15deg); } }

.visa {
  width: 55px;
  height: 25px;
  background-color: transparent; }

.master {
  width: 55px;
  height: 25px;
  background-color: transparent; }

.amex {
  width: 55px;
  height: 25px;
  background-color: transparent; }

.diner {
  width: 55px;
  height: 25px;
  background-color: transparent; }

.mp {
  width: 55px;
  height: 25px;
  background-color: transparent; }

.todop {
  width: 55px;
  height: 25px;
  background-color: transparent; }

@media (max-width: 768px) {
  @keyframes mi_animation_mobil {
    0% {
      background-color: transparent;
      transform: rotate(0); }
    10% {
      background-color: transparent;
      transform: rotate(10deg); }
    70% {
      background-color: transparent;
      transform: rotate(340deg); } }
  #radial-mobil {
    align-items: inherit;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #eddadf;
    margin: auto;
    width: 200px;
    animation-name: mi_animation_mobil;
    animation-duration: 3s; }
  .menu-desk {
    display: none; }
  .best_desk {
    display: none; }
  .menu_mobil {
    display: grid;
    background-color: #eddadf;
    padding: 20px 20px;
    border-radius: 15px; }
  .marcas {
    display: inline-flex;
    grid-template-columns: repeat(3, 200px);
    flex-wrap: wrap; }
    .marcas img {
      width: 50%;
      flex-wrap: wrap; }
  .nav a {
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 15px solid rgba(255, 255, 255, 0.18);
    display: none;
    column-gap: 30px; }
  .final {
    display: inline-flex; }
    .final li {
      display: flex;
      column-gap: 5px;
      flex-wrap: wrap; }
  .pagos {
    display: flex;
    column-gap: 5px;
    flex-wrap: wrap;
    padding-left: 10px;
    justify-content: flex-start; }
  footer {
    display: flex;
    flex-wrap: wrap; }
  .container-fluid {
    background-color: #eddadf; }
  .visa {
    width: 55px;
    height: 25px;
    background-color: transparent; }
  .master {
    width: 55px;
    height: 25px;
    background-color: transparent; }
  .amex {
    width: 55px;
    height: 25px;
    background-color: transparent; }
  .diner {
    width: 55px;
    height: 25px;
    background-color: transparent; }
  .mp {
    width: 55px;
    height: 25px;
    background-color: transparent; }
  .todop {
    width: 55px;
    height: 25px;
    background-color: transparent; } }

@media (max-width: 480px) {
  .container-fluid {
    background-color: #eddadf; }
  .menu_mobil {
    display: grid;
    background-color: #eddadf;
    padding: 20px 20px;
    border-radius: 15px; }
  .marcas {
    display: inline-flex;
    grid-template-columns: repeat(3, 200px);
    flex-wrap: wrap; }
  .marcas img {
    width: 50%;
    flex-wrap: wrap; }
  .nav a {
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 15px solid rgba(255, 255, 255, 0.18);
    display: none;
    column-gap: 30px; }
  .final {
    display: inline-flex; }
    .final li {
      display: flex;
      column-gap: 5px;
      flex-wrap: wrap; }
  .pagos {
    display: flex;
    column-gap: 5px;
    flex-wrap: wrap;
    padding-left: 10px;
    justify-content: flex-end; }
    .pagos .pagos li {
      flex: auto;
      flex-wrap: wrap; }
  footer {
    display: flex;
    flex-wrap: wrap; }
  .visa {
    width: 55px;
    height: 25px;
    background-color: transparent; }
  .master {
    width: 55px;
    height: 25px;
    background-color: transparent; }
  .amex {
    width: 55px;
    height: 25px;
    background-color: transparent; }
  .diner {
    width: 55px;
    height: 25px;
    background-color: transparent; }
  .mp {
    width: 55px;
    height: 25px;
    background-color: transparent; }
  .todop {
    width: 55px;
    height: 25px;
    background-color: transparent; } }
